body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #0e121e;
  color: #d1d7e0;
}

p {
  font-family: "Teko", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}

h1 {
  color: #75b943;
}

.about-us-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

#events-icon {
  color: #d1d7e0;
  max-width: 50px;
  padding: .2rem;
  opacity: .7;
  border-radius: 10px;
}